@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto');

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Lato', Verdana, sans-serif;
  font-weight: 700;
}

/**
 * main
 */

.title {
  text-align: center;
}

.app-page {
  width: auto;
  padding: 20px;
}

/**
 * Icons
 */

i {
  margin-right: 10px;
}

/**
 * Notes
 */

/* Notes Head */
.notes-head {
  font-size: 1rem;
}

.notes-head_project input {
  font-size: 2em;
}
.notes-head_project label {
  top: 30px;
  font-size: 1.75em;
}

.notes-head_taker input {
  font-size: 1.25em;
}

/* Participants */
.notes-head_people > i:first-child {
  position: relative;
  top: 20px;
  float: left;
}
.notes-head_people .participant-list {
  float: left;
}
