@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto');

body {
  min-height: 100%;
  background-color: #666;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Lato', Verdana, sans-serif;
  font-weight: 700;
}

/**
 * main
 */

.title {
  text-align: center;
}
h1.title {
  background-color: #fff;
  margin: 0;
  padding: 0.5em 0;
}

.app-page {
  width: auto;
  min-height: 100%;
}

/**
 * Icons
 */

i {
  margin-right: 10px;
}

/**
 * Notes
 */

.notes-page {
  min-height: calc(100%);
  margin: 2em 1.5em;
  padding: 1em;
  background-color: #fff;
  font-size: 1rem;
}

/* Notes Head */
[class^=notes-head_] {
  display: flex;
}
[class^=notes-head_] > i:first-child {
  align-self: center;
}

.notes-head_project input {
  font-size: 2em;
}
.notes-head_project label {
  top: 30px;
  font-size: 1.75em;
}

.notes-head_taker input {
  font-size: 1.25em;
}

/* Participants */
.notes-head_people .participant-list {
  float: left;
}

/**
 * Notes body
 */

[class^=notes-body] {
  margin: 2em 0;
}
