@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto');

body {
  min-height: 100%;
  background-color: #666;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Lato', Verdana, sans-serif;
  font-weight: 700;
}

/**
 * main
 */

.title {
  text-align: center;
}
h1.title {
  background-color: #fff;
  margin: 0;
  padding: 0.5em 0;
}

.app-page {
  width: auto;
  min-height: 100%;
}

/**
 * Icons
 */

i {
  margin-right: 10px;
}

/**
 * Meeting Notes
 */

.notes-page {
  min-height: calc(100%);
  margin: 2em 1.5em;
  padding: 1em;
  background-color: #fff;
  font-size: 1rem;
}

/* Notes Head */
[class^=notes-head_] {
  display: flex;
}
[class^=notes-head_] > i:first-child {
  position: relative;
  align-self: flex-start;
  top: 20px;
}
.notes-head_project > i:first-child {
  top: 30px;
}

.notes-head_project input {
  font-size: 2em;
}
.notes-head_project label {
  top: 30px;
  font-size: 1.75em;
}

.notes-head_taker input {
  font-size: 1.25em;
}

/* Participants */
.notes-head_people .participant-list {
  float: left;
}

/**
 * Notes body
 */

[class^=notes-body] {
  margin: 2em 0;
  padding: 1em;
  background-color: #ddd;
}

[class^=notes-table] {
  width: 100%;
}

.notes-table tr td {
  padding: 0 3px;
  border-spacing: 0;
}

.notes-table tr td > * {
  height: 36px;
  box-sizing: border-box;
  border: 0;
}

.notes-table tr td input {
  width: 100%;
  padding: 0 6px;
}

/* Dragger */
.notes-table tr td:nth-of-type(1) {
  width: 20px;
}
.notes-table tr td:nth-of-type(1) i {
  margin: 0;
  padding-top: 5px;
  text-align: center;
}

/* Task type dropdown */
.notes-table tr td:nth-of-type(3) {
  width: 100px;
}
/* Owner */
.notes-table tr td:nth-of-type(5) {
  max-width: 60px;
}
/* Date */
.notes-table tr td:nth-of-type(6) {
  max-width: 70px;
}

.notes-table .mdl-button {
  width: 100%;
  background-color: #fff;
}
.notes-table .mdl-button:hover {
  background-color: #eee;
}

/* Button Colours */
.notes-table .mdl-button.TODO {background-color: #9292be;}
.notes-table .mdl-button.INFO {background-color: #c6bd4a;}
.notes-table .mdl-button.DONE {background-color: #58c451;}
.notes-table .mdl-button.DECISION {background-color: #be6e6e;}
